.buttons-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}
.selectButton {
  width: 30vw;
  height: 30vh;
  font-size: 2vw;
  border-radius: 0.5vw;
  background-color: #0e7556;
  color: #58efc1;
  border: 3px solid #073628;
  cursor: pointer;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .buttons-container {
    flex-direction: column;
  }
  .selectButton {
    width: 75vw;
    margin-top: 5%;
    font-size: 7vw;
  }
}
